@import "tailwindcss";

:root {
  font-family: noto sans kr, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@theme {
  /* screens */
  --breakpoint-sm: 640px; /* 이것은 기본 Tailwind와 동일 */
  --breakpoint-md: 768px; /* 이것은 기본 Tailwind와 동일 */
  --breakpoint-lg: 1440px; /* 기본 Tailwind는 1024px */
  --breakpoint-xl: 1536px; /* 기본 Tailwind는 1280px */
  --breakpoint-2xl: 1920px; /* 기본 Tailwind는 1536px */
  --breakpoint-3xl: 2560px; /* Tailwind 기본에는 없는 크기 */
  --breakpoint-4xl: 3840px; /* Tailwind 기본에는 없는 크기 */

  /* Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-blue: #4880ee;
  --color-light-gray: #f2f4f6;
  --color-secondary-light: #f2f4f6;

  --color-text-primary: #353c49;
  --color-text-secondary: #6d7582;
  --color-text-subtitle: #8d94a0;
}
